security:
    providers:
        in_memory:
            memory:
                users:
                    admin:  { password: kitten, roles: ['ROLE_ADMIN'] }

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        login_firewall:
            pattern:   ^/login
            anonymous: ~

        secured_area:
            provider: in_memory
            pattern: ^/
            anonymous: ~
            simple_form:
                authenticator: time_authenticator
                check_path:    /login_check
                login_path:    /login

    encoders:
        Symfony\Component\Security\Core\User\User: plaintext

    access_control:
        - { path: ^/login, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/, roles: ROLE_ADMIN }