{% extends '::base.html.twig' %}

{% block body %}

<form method="post" action="{{ path('login_check') }}">
    <label for="username">Username:</label>
    <input type="text" name="_username" />
    <label for="password">Password:</label>
    <input type="password" name="_password" />
    <button type="submit">login</button>
</form>

{% endblock %}