<form method="post">
    <label for="username">Username:</label>
    <input type="text" name="_username" />
    <label for="password">Password:</label>
    <input type="password" name="_password" />
    <button type="submit">login</button>
</form>